@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_admin";

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Programs</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Admin</a>
                    </li>
                    <li class="breadcrumb-item active"> Program</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                       
                        <form class="search-bar" style="float: left; ">
                            <input type="text" class="form-control" placeholder="Enter keywords" style="float: left">
                            <a href="">
                                <i class="icon-magnifier"></i>
                            </a>
                        </form>
                        <a style="margin-left: 20px;" asp-controller="AdminProgram" asp-action="AddProgram">
                            <button type="button" class="btn btn-primary">Add new</button>
                        </a>
                        <a style="margin-left: 5px;" asp-controller="AdminProgram" asp-action="AppointDirector">
                            <button type="button" class="btn btn-primary">Appoint Director</button>
                        </a>
                        <a style="margin-left: 5px;" asp-controller="AdminProgram" asp-action="UpdateDirector">
                            <button type="button" class="btn btn-primary">Update Director</button>
                        </a>
                        

                    </div>
                   


                    <!-- /.card-header -->
                    <div class="card-body">
                       
                        <table id="example2" class="table table-bordered table-hover table-responsive">
                            <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Uid</th>
                                <th>Type</th>
                                <th>Faculty</th>
                                <th>Program name</th>
                                <th>Description</th>
                                <th>System</th>
                                <th>No of Sem/years</th>
                                <th>Director</th>
                                <th>File</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            

                               @{
                                   int i = 1;
                               }
                            
                            @foreach (var item in ViewBag.data)
                                                                           
                            {
                                <tr>


                                    <td>@i</td>
                                    <td>@item.uid</td>
                                    <td>@item.type</td>
                                    <td>@item.FacultyModel.name</td>
                                    <td>@item.name</td>
                                    <td>@item.description</td>
                                    <td>@item.system</td>
                                    <td>@item.sem_year</td>
                                    <td>@item.director</td>
                                    <td><a href="@item.file" style="height: 70px; width: 70px;">@item.file</a></td>



                                    <td>
                                        <a asp-controller="AdminProgram"asp-action="UpdateProgram" asp-route-id="@item.s_no">
                                            <button style="width: 70px;" type="button" class="btn btn-info">Edit</button>
                                        </a>
                                        <a asp-action="DeleteProgram" asp-route-id="@item.s_no" onclick="return confirm('Are you sure want to delete? ')">
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }

                            </tbody>

                        </table>
                    </div>

                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


                <!-- /.card-header -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>


    <!-- /.container-fluid -->
</section>