@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_admin";

}
@model mis_mmc.Models.ExamDetailsModel
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Add Exam details</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Admin</a>
                    </li>
                     <li class="breadcrumb-item "> Exam</li>
                    <li class="breadcrumb-item active"> Add exams</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
               <div class="card">
                         <div class="card-body">
                         <div class="card-title">Exam details Form</div>
                         <hr>
                         <form method="post" >
                             <div class="form-group">
                                 <label asp-for="cid" class="control-label">Select Course</label>
                                 <select asp-for="cid" class ="form-control" asp-items="ViewBag.course"></select>
                             </div>
                             


                             <div class="form-group">
                                 <label for="input-3">Exam Date(must be between @ViewBag.start to @ViewBag.end)</label>
                                 <input type="date" class="form-control" id="input-3" placeholder="Enter date" name="exam_date" required>
                             </div>
                            

                            
                             <div class="form-group">
                                 <label for="input-11">Time</label>
                                 <input type="time" class="form-control" id="input-11" placeholder="Enter time" name="time" required>
                             </div>
                             <div class="form-group">
                                 <label for="input-12">Full marks</label>
                                 <input type="number" class="form-control" id="input-12" placeholder="Enter dob" name="full_marks" required>
                             </div>
                             <div class="form-group">
                                 <label for="input-13">Full marks</label>
                                 <input type="number" class="form-control" id="input-13" placeholder="Enter dob" name="Pass_marks" required>
                             </div>

                             <button type="submit" class="btn btn-light px-5"> Add</button>

                         </form>
                       </div>
                       </div>
                    </div>

                <!-- /.card -->


                <!-- /.card-header -->

                <div class="card">
                    <h1>Exam details</h1>
                    <div class="card-header">

                        <form class="search-bar" style="float: left; ">
                            <input type="text" class="form-control" placeholder="Enter keywords" style="float: left">
                            <a href="">
                                <i class="icon-magnifier"></i>
                            </a>
                        </form>
                        <a style="margin-left: 20px;" asp-controller="AdminExam" asp-action="PublishRoutine">
                            <button type="button" class="btn btn-primary">Publish Result</button>
                        </a>
                        


                    </div>



                    <!-- /.card-header -->
                    <div class="card-body">

                        <table id="example2" class="table table-bordered table-hover table-responsive">
                            <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Exam id</th>
                                <th>Course Name</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Full Marks</th>
                                <th>Pass Marks</th>
                                <th>Action</th>

                            </tr>
                            </thead>
                            <tbody>

                            @{
                                int i = 1;
                            }

                            @foreach (var item in ViewBag.data)

                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.ExamModel.s_no</td>
                                    <td>@item.CourseModel.name</td>
                                    <td>@item.exam_date</td>
                                    <td>@item.time</td>
                                    <td>@item.full_marks</td>
                                    <td>@item.pass_marks</td>





                                    <td>
                                        <a >
                                            <button type="button" class="btn btn-info">Edit</button>
                                        </a>
                                        <a onclick="return confirm('Are you sure want to delete? ')">
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }
                            </tbody>

                        </table>
                    </div>

                    <!-- /.card-body -->
                </div> <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
   

    <!-- /.container-fluid -->
</section>