@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_librarian";

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Library</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Admin</a>
                    </li>
                    <li class="breadcrumb-item active"> Library</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                       
                        <form class="search-bar" style="float: left; ">
                            <input type="text" class="form-control" placeholder="Enter keywords" style="float: left">
                            <a href="">
                                <i class="icon-magnifier"></i>
                            </a>
                        </form>
                        <a style="margin-left: 20px;" asp-controller="AdminLibrary" asp-action="AddBook" >
                            <button type="button" class="btn btn-primary">Add new</button>
                        </a>
                        <a style="margin-left: 20px;" asp-controller="AdminLibrary" asp-action="IssueBook">
                            <button type="button" class="btn btn-primary">Issue book</button>
                        </a>
                        <a style="margin-left: 20px;" asp-controller="AdminLibrary" asp-action="IssueDetails">
                            <button type="button" class="btn btn-primary">Issue details</button>
                        </a>
                        

                    </div>
                   


                    <!-- /.card-header -->
                    <div class="card-body">
                       
                        <table id="example2" class="table table-bordered table-hover table-responsive">
                            <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Book name</th>
                                <th>Author(s)</th>
                                <th>Publication</th>
                                <th>Current Stock</th>
                                <th>Is_issued</th>
                                <th>Action</th>
                                
                            </tr>
                            </thead>
                            <tbody>

  @{
                                   int i = 1;
                               }
                            
                            @foreach (var item in ViewBag.data)

                            {
                                <tr>
                                    <td>@i</td>
                                    <td>@item.name</td>
                                    <td>@item.author</td>
                                    <td>@item.publication</td>
                                    <td>@item.stock</td>
                                    <td>@item.is_issued</td>


                                    <td>
                                        @if (item.is_issued == true)
                                        {
                                            <a asp-controller="AdminLibrary" asp-action="IssueStudents" asp-route-id="@item.s_no">
                                                <button  type="button" class="btn btn-info"> Issue Info</button>
                                            </a>
                                                                                
                                        }
                                
                                        <a asp-controller="AdminLibrary" asp-action="UpdateBook">
                                            <button style="width: 70px;" type="button" class="btn btn-info">Edit</button>
                                        </a>
                                        <a onclick="return confirm('Are you sure want to delete? ')">
                                            <button type="button" class="btn btn-danger">Delete</button>
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }
                            </tbody>

                        </table>
                    </div>

                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


                <!-- /.card-header -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>


    <!-- /.container-fluid -->
</section>