@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout_teacher";

}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>My Courses</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Teacher</a>
                    </li>
                    <li class="breadcrumb-item active"> My Courses</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                       
                        <form class="search-bar" style="float: left; ">
                            <input type="text" class="form-control" placeholder="Enter keywords" style="float: left">
                            <a href="">
                                <i class="icon-magnifier"></i>
                            </a>
                        </form>
                     
                   
                    </div>
                   


                    <!-- /.card-header -->
                    <div class="card-body">
                       
                        <table id="example2" class="table table-bordered table-hover table-responsive">
                            <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Course name</th>
                                <th>Unique Id</th>
                                <th>Program</th>
                                <th>Semester/Year</th>
                                <th>Description</th>
                                <th>Syllabus</th>
                                <th>Students Count</th>
                                
                                <th>Action</th>
                                
                            </tr>
                            </thead>
                            <tbody>

         @{
                                                         int i = 1;
                                                       }
                                                       @foreach (var item in ViewBag.data)

                                                       {

                                                           <tr>
                                                               <td>@i</td>
                                                               <td>@item.name</td>
                                                               <td>@item.uid</td>
                                                               <td>@item.ProgramModel.name</td>
                                                               <td>@item.sem_year</td>
                                                               <td>@item.description</td>
                                                               <td><a href="@item.file>">@item.file </a></td>
                                                               <td></td>
                                                               




                                                               <td>
                                                                   <a asp-controller="TeacherCourse" asp-action="StudentList" asp-route-id="@item.s_no">
                                                                       <button   type="button" class="btn btn-info">Student List</button>
                                                                   </a>
                                                                  
                                                               </td>
                                                           </tr>
                                                           i++;
                                                       }

                            </tbody>

                        </table>
                    </div>

                    <!-- /.card-body -->
                </div>
                <!-- /.card -->


                <!-- /.card-header -->

                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>


    <!-- /.container-fluid -->
</section>